.table-wrapper table {
  width: 100%;
  table-layout: fixed; /* ✅ 반드시 있어야 함 */
  border-collapse: collapse;
}

.table-wrapper th,
.table-wrapper td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-input {
  width: 100px;
  padding: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.table-select {
  width: 110px;
  padding: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.number {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  padding: 4px;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}